{
  "openapi": "3.0.1",
  "info": {
    "title": "Edgee API",
    "version": "1.0.0",
    "description": "Edgee is an edge-native AI Gateway with private model hosting, automatic model selection, cost audits/alerts, and edge tools. This API is OpenAI-compatible, providing one API for any model and any provider."
  },
  "servers": [
    {
      "url": "https://edgee.io",
      "description": "Edgee AI Gateway"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create chat completion",
        "description": "Creates a completion for the chat message. Supports both streaming and non-streaming responses. The API is OpenAI-compatible and works with any model and provider.",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "X-Edgee-Tags",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of tags for categorizing and filtering requests in analytics and logs. Example: `production,chatbot,customer-support`"
          },
          {
            "name": "X-Edgee-Debug",
            "in": "header",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Enable debug mode to include additional debugging information in the response."
          },
          {
            "name": "X-Edgee-Compression-Model",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "claude",
                "opencode",
                "cursor",
                "codex"
              ]
            },
            "description": "Compression bundle to apply. Tunes the compressor for the agentic style of the calling client."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion created successfully",
            "headers": {
              "X-Edgee-Provider": {
                "description": "Name of the upstream provider actually used to fulfill the request (e.g. `openai`, `anthropic`, `google`).",
                "schema": {
                  "type": "string"
                }
              },
              "X-Edgee-Fallback-Used": {
                "description": "Set to `1` when a fallback provider was used because the primary provider failed or was unavailable.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "example": {
                  "id": "chatcmpl-123",
                  "object": "chat.completion",
                  "created": 1677652288,
                  "model": "openai/gpt-5.2",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "Hello! How can I assist you today?"
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 10,
                    "completion_tokens": 10,
                    "total_tokens": 20,
                    "input_tokens_details": {
                      "cached_tokens": 0
                    },
                    "output_tokens_details": {
                      "reasoning_tokens": 0
                    }
                  },
                  "compression": {
                    "saved_tokens": 450,
                    "cost_savings": 27000,
                    "reduction": 48.99884991374353,
                    "time_ms": 12
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Server-Sent Events stream. Each event is a JSON object prefixed with 'data: ' and followed by two newlines. The stream consists of multiple `ChatCompletionChunk` objects, and optionally a final chunk with usage statistics if `stream_options.include_usage` is true."
                },
                "examples": {
                  "contentChunk": {
                    "value": "data: {\"id\":\"chatcmpl-123\",\"object\":\"chat.completion.chunk\",\"created\":1677652288,\"model\":\"openai/gpt-5.2\",\"choices\":[{\"index\":0,\"delta\":{\"content\":\"Hello\"},\"finish_reason\":null}]}\n\n"
                  },
                  "roleChunk": {
                    "value": "data: {\"id\":\"chatcmpl-123\",\"object\":\"chat.completion.chunk\",\"created\":1677652288,\"model\":\"openai/gpt-5.2\",\"choices\":[{\"index\":0,\"delta\":{\"role\":\"assistant\"},\"finish_reason\":null}]}\n\n"
                  },
                  "finalChunk": {
                    "value": "data: {\"id\":\"chatcmpl-123\",\"object\":\"chat.completion.chunk\",\"created\":1677652288,\"model\":\"openai/gpt-5.2\",\"choices\":[{\"index\":0,\"delta\":{},\"finish_reason\":\"stop\"}],\"usage\":{\"prompt_tokens\":10,\"completion_tokens\":10,\"total_tokens\":20,\"input_tokens_details\":{\"cached_tokens\":0},\"output_tokens_details\":{\"reasoning_tokens\":0}}}\n\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "badModelId": {
                    "value": {
                      "error": {
                        "code": "bad_model_id",
                        "message": "Invalid model ID: 'invalid-model'"
                      }
                    }
                  },
                  "modelNotFound": {
                    "value": {
                      "error": {
                        "code": "model_not_found",
                        "message": "Model 'openai/gpt-1' not found"
                      }
                    }
                  },
                  "providerNotSupported": {
                    "value": {
                      "error": {
                        "code": "provider_not_supported",
                        "message": "Provider 'anthropic' is not supported for model 'openai/gpt-5.2'"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Missing Authorization header"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key is inactive, expired, or model not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "inactiveKey": {
                    "value": {
                      "error": {
                        "code": "forbidden",
                        "message": "API key is inactive"
                      }
                    }
                  },
                  "expiredKey": {
                    "value": {
                      "error": {
                        "code": "forbidden",
                        "message": "API key has expired"
                      }
                    }
                  },
                  "modelNotAllowed": {
                    "value": {
                      "error": {
                        "code": "forbidden",
                        "message": "Model 'openai/gpt-5.2' is not allowed for this API key"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "usage_limit_exceeded",
                    "message": "Usage limit exceeded: 1000.00 / 1000 tokens used"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "createMessage",
        "summary": "Create message (Anthropic format)",
        "description": "Creates a message using Anthropic's native Messages API format. Only works with Anthropic provider.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "X-Edgee-Tags",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of tags for categorizing and filtering requests in analytics and logs. Example: `production,agent,codex`"
          },
          {
            "name": "X-Edgee-Debug",
            "in": "header",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Enable debug mode to include additional debugging information in the response."
          },
          {
            "name": "X-Edgee-Compression-Model",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "claude",
                "opencode",
                "cursor",
                "codex"
              ]
            },
            "description": "Compression bundle to apply."
          },
          {
            "name": "x-edgee-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Claude CLI passthrough authentication. When set, the gateway uses this key instead of `x-api-key` / `Authorization` to authenticate the request. Used by the Claude Code CLI when proxying requests through Edgee."
          },
          {
            "name": "x-edgee-session-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Claude CLI session identifier. Used to group all messages from a single CLI session in analytics."
          }
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message created successfully",
            "headers": {
              "X-Edgee-Provider": {
                "description": "Name of the upstream provider actually used (always `anthropic` for this endpoint).",
                "schema": {
                  "type": "string"
                }
              },
              "X-Edgee-Fallback-Used": {
                "description": "Set to `1` when a fallback provider was used.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMessageResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Server-Sent Events stream for streaming responses"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Create response (OpenAI Responses format)",
        "description": "Creates a response using the OpenAI Responses API format. Compatible with OpenAI's Responses API and tools that target it (e.g. the Codex CLI). Differs from `/v1/chat/completions` in that the input is a flat array of typed items, tools use a flat structure (no nested `function` key), and the output is returned as an `output` array of typed items.",
        "tags": [
          "Responses"
        ],
        "parameters": [
          {
            "name": "X-Edgee-Tags",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of tags for categorizing and filtering requests in analytics and logs. Example: `production,agent,codex`"
          },
          {
            "name": "X-Edgee-Debug",
            "in": "header",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Enable debug mode to include additional debugging information in the response."
          },
          {
            "name": "X-Edgee-Compression-Model",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "claude",
                "opencode",
                "cursor",
                "codex"
              ]
            },
            "description": "Compression bundle to apply."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              },
              "examples": {
                "basicText": {
                  "summary": "Basic text input",
                  "value": {
                    "model": "openai/gpt-4o",
                    "input": "What is the capital of France?"
                  }
                },
                "withInstructions": {
                  "summary": "Instructions and message array",
                  "value": {
                    "model": "openai/gpt-4o",
                    "instructions": "You are a helpful assistant that responds concisely.",
                    "input": [
                      {
                        "role": "user",
                        "content": "Summarize the water cycle in one sentence."
                      }
                    ]
                  }
                },
                "streaming": {
                  "summary": "Streaming",
                  "value": {
                    "model": "openai/gpt-4o",
                    "stream": true,
                    "input": "Write a short poem about the ocean."
                  }
                },
                "withTools": {
                  "summary": "With tools",
                  "value": {
                    "model": "openai/gpt-4o",
                    "input": "What is the weather in Paris?",
                    "tools": [
                      {
                        "type": "function",
                        "name": "get_weather",
                        "description": "Get current weather for a location",
                        "parameters": {
                          "type": "object",
                          "properties": {
                            "location": {
                              "type": "string",
                              "description": "City name"
                            }
                          },
                          "required": [
                            "location"
                          ]
                        }
                      }
                    ]
                  }
                },
                "multiTurnTools": {
                  "summary": "Multi-turn with tool results",
                  "value": {
                    "model": "openai/gpt-4o",
                    "input": [
                      {
                        "role": "user",
                        "content": "What is the weather in Paris?"
                      },
                      {
                        "type": "function_call",
                        "call_id": "call_abc123",
                        "name": "get_weather",
                        "arguments": "{\"location\": \"Paris\"}"
                      },
                      {
                        "type": "function_call_output",
                        "call_id": "call_abc123",
                        "output": "{\"temperature\": 22, \"condition\": \"sunny\"}"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "name": "get_weather",
                        "description": "Get current weather for a location",
                        "parameters": {
                          "type": "object",
                          "properties": {
                            "location": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "location"
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response created successfully",
            "headers": {
              "X-Edgee-Provider": {
                "description": "Name of the upstream provider actually used to fulfill the request.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Edgee-Fallback-Used": {
                "description": "Set to `1` when a fallback provider was used because the primary provider failed or was unavailable.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "1"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                },
                "example": {
                  "id": "resp_abc123",
                  "object": "response",
                  "status": "completed",
                  "created_at": 1677652288.0,
                  "model": "openai/gpt-4o",
                  "output": [
                    {
                      "id": "msg_1",
                      "type": "message",
                      "status": "completed",
                      "role": "assistant",
                      "content": [
                        {
                          "type": "output_text",
                          "text": "Paris"
                        }
                      ]
                    }
                  ],
                  "usage": {
                    "input_tokens": 8,
                    "output_tokens": 1,
                    "total_tokens": 9
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Server-Sent Events stream. Each event is a JSON object prefixed with 'data: ' and followed by two newlines. Each event has a `type` field. Text responses produce: `response.created`, `response.output_item.added`, `response.content_part.added`, `response.output_text.delta`, `response.output_text.done`, `response.content_part.done`, `response.output_item.done`, `response.completed`. Tool calls additionally produce: `response.function_call_arguments.delta`, `response.function_call_arguments.done`."
                },
                "examples": {
                  "createdEvent": {
                    "value": "data: {\"type\":\"response.created\",\"response\":{\"id\":\"resp_abc123\",\"object\":\"response\",\"status\":\"in_progress\",\"created_at\":1677652288.0,\"model\":\"openai/gpt-4o\",\"output\":[]}}\n\n"
                  },
                  "outputTextDeltaEvent": {
                    "value": "data: {\"type\":\"response.output_text.delta\",\"item_id\":\"msg_1\",\"output_index\":0,\"content_index\":0,\"delta\":\"Hello\"}\n\n"
                  },
                  "completedEvent": {
                    "value": "data: {\"type\":\"response.completed\",\"response\":{\"id\":\"resp_abc123\",\"object\":\"response\",\"status\":\"completed\",\"created_at\":1677652288.0,\"model\":\"openai/gpt-4o\",\"output\":[{\"id\":\"msg_1\",\"type\":\"message\",\"status\":\"completed\",\"role\":\"assistant\",\"content\":[{\"type\":\"output_text\",\"text\":\"Hello\"}]}],\"usage\":{\"input_tokens\":8,\"output_tokens\":1,\"total_tokens\":9}}}\n\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "badModelId": {
                    "value": {
                      "error": {
                        "code": "bad_model_id",
                        "message": "Invalid model ID: 'invalid-model'"
                      }
                    }
                  },
                  "modelNotFound": {
                    "value": {
                      "error": {
                        "code": "model_not_found",
                        "message": "Model 'openai/gpt-1' not found"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Missing Authorization header"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - API key is inactive, expired, or model not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "API key is inactive"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "usage_limit_exceeded",
                    "message": "Usage limit exceeded: 1000.00 / 1000 tokens used"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List models",
        "description": "Lists the currently available models, and provides basic information about each one such as the owner and availability. Returns only active models.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "description": "Filter models by provider (optional, currently not implemented)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "openai/gpt-5.2",
                      "object": "model",
                      "created": 1677610602,
                      "owned_by": "openai"
                    },
                    {
                      "id": "anthropic/claude-opus-4-6",
                      "object": "model",
                      "created": 1677610602,
                      "owned_by": "anthropic"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/count_tokens": {
      "post": {
        "operationId": "countTokensMessages",
        "summary": "Count tokens (Anthropic format)",
        "description": "Estimates the number of input tokens for a request shaped like the Anthropic [Messages API](#tag/Messages). Always forwards to the Anthropic provider's tokenizer. Returns an `input_tokens` count compatible with `/v1/count_tokens`.\n\n**Note:** `max_tokens` is accepted but ignored by this endpoint.",
        "tags": [
          "Tokens"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              },
              "example": {
                "model": "claude-sonnet-4.5",
                "max_tokens": 1024,
                "messages": [
                  {
                    "role": "user",
                    "content": "What is the capital of France?"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token count estimated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountTokensResponse"
                },
                "example": {
                  "input_tokens": 14
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/compress": {
      "post": {
        "operationId": "compress",
        "summary": "Compress request",
        "description": "Compresses an LLM request payload and returns it with the `messages`, `input`, `system`, and `tools` fields replaced by their compressed versions. Accepts OpenAI Chat Completions, Anthropic Messages, and OpenAI Responses API formats — the wire format is auto-detected from the request body.\n\nNo LLM provider is called. This is a pure pre-processing step intended for teams running their own LLM gateways who want Edgee token compression without routing requests through Edgee.",
        "tags": [
          "Compress"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompressRequest"
              },
              "examples": {
                "openaiChat": {
                  "summary": "OpenAI Chat Completions format",
                  "value": {
                    "model": "openai/gpt-4o",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "What is the capital of France?"
                      },
                      {
                        "role": "assistant",
                        "content": "Paris."
                      },
                      {
                        "role": "tool",
                        "tool_call_id": "call_abc",
                        "content": "<large tool result>"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "Get weather for a location",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                },
                "anthropic": {
                  "summary": "Anthropic Messages format",
                  "value": {
                    "model": "claude-sonnet-4.5",
                    "max_tokens": 1024,
                    "system": "You are a helpful assistant.",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is the capital of France?"
                      },
                      {
                        "role": "assistant",
                        "content": "Paris."
                      }
                    ]
                  }
                },
                "responsesApi": {
                  "summary": "OpenAI Responses API format",
                  "value": {
                    "model": "openai/gpt-4o",
                    "instructions": "You are a helpful assistant.",
                    "input": [
                      {
                        "role": "user",
                        "content": "What is the capital of France?"
                      },
                      {
                        "type": "function_call",
                        "call_id": "call_abc",
                        "name": "get_weather",
                        "arguments": "{\"location\":\"Paris\"}"
                      },
                      {
                        "type": "function_call_output",
                        "call_id": "call_abc",
                        "output": "<large tool result>"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request compressed successfully. The response mirrors the input format with the `messages`, `input`, `system`, and `tools` fields replaced by their compressed versions. All other fields pass through unchanged. A `compression` metadata object is always appended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompressResponse"
                },
                "example": {
                  "model": "openai/gpt-4o",
                  "messages": [
                    {
                      "role": "system",
                      "content": "You are a helpful assistant."
                    },
                    {
                      "role": "user",
                      "content": "What is the capital of France?"
                    },
                    {
                      "role": "assistant",
                      "content": "Paris."
                    },
                    {
                      "role": "tool",
                      "tool_call_id": "call_abc",
                      "content": "<trimmed>"
                    }
                  ],
                  "tools": [
                    {
                      "type": "function",
                      "function": {
                        "name": "get_weather",
                        "description": "Get weather for a location",
                        "parameters": {
                          "type": "object",
                          "properties": {
                            "location": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ],
                  "compression": {
                    "technique": "auto",
                    "applied_strategies": [
                      "tool_result_trimming"
                    ],
                    "compression_rate": 0.19,
                    "uncompressed_input_tokens": 1000,
                    "compressed_input_tokens": 810,
                    "compression_time_ms": 12
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed JSON or unrecognized request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidJson": {
                    "value": {
                      "error": {
                        "code": "invalid_json",
                        "message": "Failed to parse JSON: ..."
                      }
                    }
                  },
                  "invalidRequest": {
                    "value": {
                      "error": {
                        "code": "invalid_request",
                        "message": "Failed to convert Anthropic request: ..."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Missing x-api-key or Authorization Bearer header"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — API key is inactive or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "API key is inactive"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/count_tokens": {
      "post": {
        "operationId": "countTokens",
        "summary": "Count tokens",
        "description": "Estimates the number of input tokens for a set of messages without making an LLM call. Accepts both OpenAI chat format and Anthropic Messages format, the format is auto-detected from the message structure. Useful for pre-flight cost estimation, rate-limit planning, and prompt optimization.\n\n**Note:** Token counts are approximate and may differ from provider-native tokenizers (e.g. OpenAI tiktoken, Anthropic's tokenizer).",
        "tags": [
          "Tokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountTokensRequest"
              },
              "example": {
                "model": "openai/gpt-5.2",
                "messages": [
                  {
                    "role": "system",
                    "content": "You are a helpful assistant."
                  },
                  {
                    "role": "user",
                    "content": "What is the capital of France?"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token count estimated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountTokensResponse"
                },
                "example": {
                  "input_tokens": 42
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CountTokensRequest": {
        "type": "object",
        "required": [
          "model"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the target model. Format: `{author_id}/{model_id}`. The gateway uses this to pick the appropriate tokenizer when `tokenizer` is not provided.",
            "example": "openai/gpt-5.2"
          },
          "messages": {
            "type": "array",
            "description": "Optional array of message objects to count tokens for. Accepts both OpenAI chat format (with `system`, `user`, `assistant` roles) and Anthropic Messages format; the format is auto-detected from the message structure. Defaults to an empty array.",
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "description": "The role of the message author."
                },
                "content": {
                  "description": "The message content. Can be a plain string or an array of content blocks.",
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  ]
                }
              },
              "additionalProperties": true
            }
          },
          "system": {
            "description": "Optional system prompt. Accepts a plain string or an array of Anthropic content blocks. Used when counting tokens for an Anthropic-style request.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ]
          },
          "tokenizer": {
            "type": "string",
            "enum": [
              "cl100k_base",
              "o200k_base"
            ],
            "description": "Explicit tokenizer override. When omitted, the gateway picks one based on `model`."
          }
        }
      },
      "CountTokensResponse": {
        "type": "object",
        "required": [
          "input_tokens"
        ],
        "properties": {
          "input_tokens": {
            "type": "integer",
            "description": "Estimated number of input tokens for the provided messages. This is an approximation, counts may differ from provider-native tokenizers. Use for estimation and budgeting, not exact billing.",
            "minimum": 0,
            "example": 42
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the model to use. Format: `{author_id}/{model_id}` (e.g. `openai/gpt-5.2`)",
            "example": "openai/gpt-5.2"
          },
          "messages": {
            "type": "array",
            "description": "A list of messages comprising the conversation so far.",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "minItems": 1
          },
          "max_tokens": {
            "type": "integer",
            "description": "The maximum number of tokens that can be generated in the chat completion.",
            "minimum": 1
          },
          "stream": {
            "type": "boolean",
            "description": "If set, partial message deltas will be sent, as in OpenAI. Streamed chunks are sent as Server-Sent Events (SSE).",
            "default": false
          },
          "stream_options": {
            "type": "object",
            "description": "Options for streaming response.",
            "properties": {
              "include_usage": {
                "type": "boolean",
                "description": "If set, an additional `[DONE]` message will be sent with usage statistics when the stream is finished."
              }
            }
          },
          "tools": {
            "type": "array",
            "description": "A list of tools the model may call. Currently, only `function` type is supported.",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "none",
                  "auto"
                ],
                "description": "Bare-string mode. `none` forbids tool calls; `auto` lets the model decide."
              },
              {
                "$ref": "#/components/schemas/ToolChoiceTypedMode"
              },
              {
                "$ref": "#/components/schemas/ToolChoiceSpecific"
              }
            ],
            "description": "Controls which tool (if any) the model is allowed to call. Accepts a bare string (`none` / `auto`), a typed-mode object (`{ \"type\": \"auto\" | \"none\" }`), or a specific function reference."
          },
          "edgee_tool_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of Edge Tool IDs to inject (e.g. edgee_current_time, edgee_generate_uuid). Each ID must be activated for your API key. When omitted or empty, only tools with hydration enabled for your org or API key are auto-injected. Invalid or non-activated IDs return 400 with invalid_edgee_tool_ids.",
            "example": [
              "edgee_current_time",
              "edgee_generate_uuid"
            ]
          },
          "edgee_pending_id": {
            "type": "string",
            "description": "Pending operation ID when continuing a conversation after Edge Tool execution (e.g. when mixing client-side and Edge Tools). The gateway injects stored Edge Tool results into the message history."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional tags to categorize and label the request. Useful for filtering and grouping requests in analytics and logs. Can also be sent via the `x-edgee-tags` header as a comma-separated string."
          },
          "enable_debug": {
            "type": "boolean",
            "description": "When `true`, the response includes additional debug information. Equivalent to the `X-Edgee-Debug` header."
          },
          "compression_model": {
            "$ref": "#/components/schemas/CompressionModel"
          }
        }
      },
      "ToolChoiceTypedMode": {
        "type": "object",
        "description": "Typed-mode form of `tool_choice` — an object containing only a `type` field set to `auto` or `none`.",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "auto",
              "none"
            ]
          }
        }
      },
      "CompressionModel": {
        "type": "string",
        "description": "Selects the compression bundle to apply to the request. Equivalent to the `X-Edgee-Compression-Model` header.",
        "enum": [
          "claude",
          "opencode",
          "codex",
          "cursor"
        ]
      },
      "Message": {
        "type": "object",
        "required": [
          "role"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool",
              "developer"
            ],
            "description": "The role of the message author. Required properties vary by role:\n- `system`, `user`, `developer`: requires `content`\n- `assistant`: `content` is optional (can be empty if `tool_calls` is present)\n- `tool`: requires `content` and `tool_call_id`"
          },
          "content": {
            "type": "string",
            "description": "The contents of the message. Required for all roles except `assistant` (where it can be empty if `tool_calls` is present). For `assistant` role, defaults to empty string if not provided."
          },
          "name": {
            "type": "string",
            "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role. Used for `system`, `user`, `assistant`, and `developer` roles."
          },
          "tool_call_id": {
            "type": "string",
            "description": "The ID of the tool call that this message is responding to. Required for `tool` role only."
          },
          "refusal": {
            "type": "string",
            "description": "The refusal message from the model, if any. Used for `assistant` role only."
          },
          "tool_calls": {
            "type": "array",
            "description": "The tool calls made by the assistant. Used for `assistant` role only.",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "cache_control": {
            "type": "object",
            "description": "Anthropic prompt-cache control passthrough. Applied when routing to an Anthropic-backed model. Used on `system`, `user`, and `assistant` roles only.",
            "additionalProperties": true,
            "example": {
              "type": "ephemeral"
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "The type of the tool. Currently, only `function` is supported."
          },
          "function": {
            "$ref": "#/components/schemas/FunctionDefinition"
          }
        }
      },
      "FunctionDefinition": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
          },
          "description": {
            "type": "string",
            "description": "A description of what the function does, used by the model to choose when and how to call the function."
          },
          "parameters": {
            "type": "object",
            "description": "The parameters the functions accepts, described as a JSON Schema object. See the guide for examples, and the JSON Schema reference for documentation about the format.",
            "additionalProperties": true
          }
        }
      },
      "ToolChoiceSpecific": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "The type of the tool."
          },
          "function": {
            "$ref": "#/components/schemas/ToolChoiceFunction"
          }
        }
      },
      "ToolChoiceFunction": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the function to call."
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "required": [
          "id",
          "type",
          "function"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the tool call."
          },
          "type": {
            "type": "string",
            "enum": [
              "function"
            ],
            "description": "The type of the tool call."
          },
          "function": {
            "$ref": "#/components/schemas/FunctionCall"
          }
        }
      },
      "FunctionCall": {
        "type": "object",
        "required": [
          "name",
          "arguments"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the function to call."
          },
          "arguments": {
            "type": "string",
            "description": "The arguments to call the function with, as JSON."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices",
          "usage"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the chat completion.",
            "example": "chatcmpl-123"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ],
            "description": "The object type, which is always `chat.completion`."
          },
          "created": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) of when the chat completion was created.",
            "example": 1677652288
          },
          "model": {
            "type": "string",
            "description": "The model used for the chat completion.",
            "example": "openai/gpt-5.2"
          },
          "choices": {
            "type": "array",
            "description": "A list of chat completion choices. Can be more than one if n is greater than 1.",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          },
          "compression": {
            "$ref": "#/components/schemas/CompressionInfo"
          },
          "edgee_pending_id": {
            "type": "string",
            "description": "Present when one or more Edge Tool calls were deferred. Pass this value back as `edgee_pending_id` in the next request to resume the conversation with the tool results filled in."
          },
          "edgee_tools_executed": {
            "type": "array",
            "description": "List of Edge Tools the gateway executed inline before returning. Empty or absent when no Edge Tools ran.",
            "items": {
              "$ref": "#/components/schemas/EdgeeToolExecuted"
            }
          }
        }
      },
      "EdgeeToolExecuted": {
        "type": "object",
        "description": "Summary of an Edge Tool that was executed inline by the gateway.",
        "required": [
          "name",
          "success"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Edge Tool identifier (e.g. `edgee_current_time`).",
            "example": "edgee_current_time"
          },
          "success": {
            "type": "boolean",
            "description": "Whether the tool returned successfully."
          }
        }
      },
      "ChatCompletionChoice": {
        "type": "object",
        "required": [
          "index",
          "message"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "description": "The index of the choice in the list of choices.",
            "minimum": 0
          },
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "finish_reason": {
            "type": "string",
            "enum": [
              "stop",
              "length",
              "content_filter",
              "tool_calls"
            ],
            "description": "The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence, `length` if the maximum number of tokens specified in the request was reached, `content_filter` if content was omitted due to a flag from our content filters, or `tool_calls` if the model called a tool."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Usage statistics for the completion. In streaming responses, this is only present in the final chunk when `stream_options.include_usage` is true.",
        "required": [
          "prompt_tokens",
          "completion_tokens",
          "total_tokens",
          "input_tokens_details",
          "output_tokens_details"
        ],
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Number of tokens in the prompt.",
            "minimum": 0
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Number of tokens in the generated completion.",
            "minimum": 0
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total number of tokens used in the request (prompt + completion).",
            "minimum": 0
          },
          "input_tokens_details": {
            "$ref": "#/components/schemas/InputTokenDetails"
          },
          "output_tokens_details": {
            "$ref": "#/components/schemas/OutputTokenDetails"
          }
        }
      },
      "InputTokenDetails": {
        "type": "object",
        "description": "Additional details about input tokens.",
        "properties": {
          "cached_tokens": {
            "type": "integer",
            "description": "Number of cached tokens read from the prompt cache.",
            "minimum": 0
          },
          "cache_creation_tokens": {
            "type": "integer",
            "description": "Number of tokens written to the prompt cache (Anthropic-style cache creation).",
            "minimum": 0
          }
        }
      },
      "OutputTokenDetails": {
        "type": "object",
        "description": "Additional details about output tokens.",
        "properties": {
          "reasoning_tokens": {
            "type": "integer",
            "description": "Number of reasoning tokens in the output.",
            "minimum": 0
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "required": [
          "object",
          "data"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ],
            "description": "The object type, which is always `list`."
          },
          "data": {
            "type": "array",
            "description": "The list of models.",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "required": [
          "id",
          "object",
          "created",
          "owned_by"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The model identifier, which can be referenced in the API. Format: `{author_id}/{model_id}`.",
            "example": "openai/gpt-5.2"
          },
          "object": {
            "type": "string",
            "enum": [
              "model"
            ],
            "description": "The object type, which is always `model`."
          },
          "created": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) when the model was created.",
            "example": 1677610602
          },
          "owned_by": {
            "type": "string",
            "description": "The organization that owns the model.",
            "example": "openai"
          }
        }
      },
      "ChatCompletionChunk": {
        "type": "object",
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices"
        ],
        "description": "A streaming chunk in the chat completion response. Used when `stream: true` in the request.",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the chat completion chunk.",
            "example": "chatcmpl-123"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion.chunk"
            ],
            "description": "The object type, which is always `chat.completion.chunk` for streaming responses."
          },
          "created": {
            "type": "integer",
            "description": "The Unix timestamp (in seconds) of when the chat completion was created.",
            "example": 1677652288
          },
          "model": {
            "type": "string",
            "description": "The model used for the chat completion.",
            "example": "openai/gpt-5.2"
          },
          "choices": {
            "type": "array",
            "description": "A list of chat completion choices for this chunk.",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChunkChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ChatCompletionChunkChoice": {
        "type": "object",
        "required": [
          "index",
          "delta"
        ],
        "description": "A choice in a streaming chat completion chunk.",
        "properties": {
          "index": {
            "type": "integer",
            "description": "The index of the choice in the list of choices.",
            "minimum": 0
          },
          "delta": {
            "$ref": "#/components/schemas/Delta",
            "description": "A delta representing the change in the message content. The first chunk typically contains `role`, subsequent chunks contain `content`."
          },
          "finish_reason": {
            "type": "string",
            "enum": [
              "stop",
              "length",
              "content_filter",
              "tool_calls"
            ],
            "description": "The reason the model stopped generating tokens. This will be `null` for all chunks except the final one. This will be `stop` if the model hit a natural stop point or a provided stop sequence, `length` if the maximum number of tokens specified in the request was reached, `content_filter` if content was omitted due to a flag from our content filters, or `tool_calls` if the model called a tool."
          }
        }
      },
      "Delta": {
        "type": "object",
        "description": "Represents a change in message content. The first chunk typically contains `role`, subsequent chunks contain `content`.",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the message author. Typically present only in the first chunk.",
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "The content of the message delta. Present in content chunks.",
            "example": "Hello"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "description": "Error response. The `error` object follows OpenAI's error envelope shape; the gateway additionally populates `type` (Anthropic-style category) and `param` when applicable.",
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string",
                "description": "A human-readable error message."
              },
              "type": {
                "type": "string",
                "enum": [
                  "invalid_request_error",
                  "authentication_error",
                  "permission_error",
                  "not_found_error",
                  "rate_limit_error",
                  "server_error",
                  "provider_error"
                ],
                "description": "Anthropic-style high-level error category. Always present."
              },
              "code": {
                "type": "string",
                "nullable": true,
                "description": "A machine-readable error code. Currently emitted values: `unauthorized`, `forbidden`, `invalid_json`, `bad_model_id`, `model_not_found`, `provider_not_supported`, `invalid_tokenizer`, `invalid_request`, `usage_limit_exceeded`, `provider_error`, `internal_error`.",
                "example": "bad_model_id"
              },
              "param": {
                "type": "string",
                "nullable": true,
                "description": "Name of the request parameter that caused the error, when applicable."
              }
            }
          }
        }
      },
      "CreateMessageRequest": {
        "type": "object",
        "required": [
          "model",
          "max_tokens",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "The model ID to use (Anthropic format, without provider prefix)",
            "example": "claude-sonnet-4.5"
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate",
            "minimum": 1,
            "example": 1024
          },
          "messages": {
            "type": "array",
            "description": "Array of message objects",
            "items": {
              "$ref": "#/components/schemas/MessageParam"
            },
            "minItems": 1
          },
          "system": {
            "oneOf": [
              {
                "type": "string",
                "description": "System prompt as a string"
              },
              {
                "type": "array",
                "description": "System prompt as content blocks",
                "items": {
                  "$ref": "#/components/schemas/ContentBlock"
                }
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "description": "Enable streaming responses",
            "default": false
          },
          "tools": {
            "type": "array",
            "description": "Tool definitions",
            "items": {
              "$ref": "#/components/schemas/AnthropicTool"
            }
          },
          "tool_choice": {
            "$ref": "#/components/schemas/ToolChoice"
          }
        }
      },
      "MessageParam": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "description": "The role of the message"
          },
          "content": {
            "oneOf": [
              {
                "type": "string",
                "description": "Simple text content"
              },
              {
                "type": "array",
                "description": "Array of content blocks",
                "items": {
                  "$ref": "#/components/schemas/ContentBlock"
                }
              }
            ]
          }
        }
      },
      "ContentBlock": {
        "type": "object",
        "required": [
          "type"
        ],
        "discriminator": {
          "propertyName": "type"
        },
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type",
              "text"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text"
                ]
              },
              "text": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "id",
              "name",
              "input"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "tool_use"
                ]
              },
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "input": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "tool_use_id",
              "content"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "tool_result"
                ]
              },
              "tool_use_id": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "is_error": {
                "type": "boolean",
                "default": false
              }
            }
          }
        ]
      },
      "AnthropicTool": {
        "type": "object",
        "required": [
          "name",
          "input_schema"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the tool"
          },
          "description": {
            "type": "string",
            "description": "Description of what the tool does"
          },
          "input_schema": {
            "type": "object",
            "description": "JSON Schema describing the tool's input parameters"
          }
        }
      },
      "ToolChoice": {
        "type": "object",
        "required": [
          "type"
        ],
        "discriminator": {
          "propertyName": "type"
        },
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "auto"
                ],
                "description": "Model decides whether to use tools"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "any"
                ],
                "description": "Model must use one of the provided tools"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "name"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "tool"
                ]
              },
              "name": {
                "type": "string",
                "description": "Name of the specific tool to use"
              }
            }
          }
        ]
      },
      "CreateMessageResponse": {
        "type": "object",
        "required": [
          "id",
          "model",
          "content",
          "usage"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this message"
          },
          "model": {
            "type": "string",
            "description": "The model that generated the response"
          },
          "content": {
            "type": "array",
            "description": "Array of content blocks",
            "items": {
              "$ref": "#/components/schemas/ContentBlock"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/AnthropicUsage"
          },
          "stop_reason": {
            "type": "string",
            "enum": [
              "end_turn",
              "max_tokens",
              "tool_use"
            ],
            "description": "Why the model stopped generating"
          }
        }
      },
      "CompressionInfo": {
        "type": "object",
        "description": "Token compression metrics. Present in the response when token compression was applied to the request. The `usage.prompt_tokens` field reflects the compressed token count actually billed by the provider.",
        "required": [
          "saved_tokens",
          "cost_savings",
          "reduction",
          "time_ms"
        ],
        "properties": {
          "saved_tokens": {
            "type": "integer",
            "description": "Number of input tokens saved by compression (original count minus compressed count).",
            "minimum": 0,
            "example": 450
          },
          "cost_savings": {
            "type": "integer",
            "description": "Estimated cost savings in micro-units. Divide by `1000000` to convert to USD. Example: `27000` = $0.027 saved.",
            "minimum": 0,
            "example": 27000
          },
          "reduction": {
            "type": "number",
            "description": "Percentage reduction in input tokens. For example, `48` means the compressed prompt was 48% smaller than the original.",
            "minimum": 0,
            "maximum": 100,
            "example": 48.99884991374353
          },
          "time_ms": {
            "type": "integer",
            "description": "Time taken to perform compression, in milliseconds.",
            "minimum": 0,
            "example": 12
          }
        }
      },
      "AnthropicUsage": {
        "type": "object",
        "required": [
          "input_tokens",
          "output_tokens"
        ],
        "properties": {
          "input_tokens": {
            "type": "integer",
            "description": "Number of input tokens.",
            "minimum": 0
          },
          "output_tokens": {
            "type": "integer",
            "description": "Number of output tokens.",
            "minimum": 0
          },
          "cache_read_input_tokens": {
            "type": "integer",
            "description": "Number of input tokens read from the prompt cache.",
            "minimum": 0
          },
          "cache_creation_input_tokens": {
            "type": "integer",
            "description": "Number of input tokens written to the prompt cache.",
            "minimum": 0
          }
        }
      },
      "ResponsesRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the model to use, with provider prefix. Format: `{author_id}/{model_id}`.",
            "example": "openai/gpt-4o"
          },
          "input": {
            "description": "The input to the model. Either a plain string (treated as a single user message) or a flat array of typed input items (messages, function calls, function call outputs).",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ResponsesInputItem"
                }
              }
            ]
          },
          "instructions": {
            "type": "string",
            "description": "System-level instruction prepended to the conversation. An alternative to including a `system` role message in the `input` array."
          },
          "stream": {
            "type": "boolean",
            "description": "If set, the response is streamed as Server-Sent Events (SSE).",
            "default": false
          },
          "max_output_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate.",
            "minimum": 1
          },
          "tools": {
            "type": "array",
            "description": "Tools available to the model. Uses the Responses API flat format (no nested `function` key).",
            "items": {
              "$ref": "#/components/schemas/ResponsesTool"
            }
          },
          "tool_choice": {
            "description": "Controls tool selection.",
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "auto",
                  "none"
                ],
                "description": "Bare-string mode. `auto` lets the model decide; `none` forbids tool calls."
              },
              {
                "$ref": "#/components/schemas/ToolChoiceTypedMode"
              },
              {
                "$ref": "#/components/schemas/ResponsesToolChoiceFunction"
              }
            ]
          },
          "temperature": {
            "type": "number",
            "description": "Sampling temperature between 0 and 2. Higher values produce more random outputs.",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus sampling probability. Alternative to temperature."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of string tags for categorizing and filtering requests in analytics and logs. Can also be sent via the `X-Edgee-Tags` header."
          },
          "enable_debug": {
            "type": "boolean",
            "description": "Enable debug mode to include additional information in the response."
          },
          "edgee_tool_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of Edgee-managed tool IDs to include automatically (e.g. `edgee_current_time`, `edgee_generate_uuid`). Each ID must be activated for your API key.",
            "example": [
              "edgee_current_time",
              "edgee_generate_uuid"
            ]
          },
          "edgee_pending_id": {
            "type": "string",
            "description": "Pending operation ID when continuing a conversation after Edge Tool execution. The gateway injects stored Edge Tool results into the conversation history."
          },
          "compression_model": {
            "$ref": "#/components/schemas/CompressionModel"
          }
        }
      },
      "ResponsesInputItem": {
        "description": "A single item in the `input` array. Either a message turn, an assistant function call, or a function call output.",
        "oneOf": [
          {
            "type": "object",
            "title": "Message",
            "required": [
              "role",
              "content"
            ],
            "properties": {
              "role": {
                "type": "string",
                "enum": [
                  "user",
                  "assistant",
                  "system",
                  "developer"
                ],
                "description": "The role of the message author."
              },
              "content": {
                "description": "Message content. Either a plain string or an array of typed content parts.",
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResponsesContentPart"
                    }
                  }
                ]
              }
            }
          },
          {
            "type": "object",
            "title": "Function call",
            "required": [
              "type",
              "call_id",
              "name",
              "arguments"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "function_call"
                ]
              },
              "call_id": {
                "type": "string",
                "description": "Identifier linking this call to its `function_call_output`.",
                "example": "call_abc123"
              },
              "name": {
                "type": "string",
                "description": "Name of the function the assistant is calling.",
                "example": "get_weather"
              },
              "arguments": {
                "type": "string",
                "description": "Arguments passed to the function, encoded as a JSON string.",
                "example": "{\"location\": \"Paris\"}"
              }
            }
          },
          {
            "type": "object",
            "title": "Function call output",
            "required": [
              "type",
              "call_id",
              "output"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "function_call_output"
                ]
              },
              "call_id": {
                "type": "string",
                "description": "Identifier matching the `function_call` item this is responding to.",
                "example": "call_abc123"
              },
              "output": {
                "type": "string",
                "description": "Tool result, encoded as a string (typically JSON).",
                "example": "{\"temperature\": 22}"
              }
            }
          }
        ]
      },
      "ResponsesContentPart": {
        "description": "A typed content part within a message item.",
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type",
              "text"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "input_text"
                ]
              },
              "text": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "text"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "output_text"
                ]
              },
              "text": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "text"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text"
                ]
              },
              "text": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ResponsesTool": {
        "type": "object",
        "description": "Tool definition in the Responses API flat format. Unlike Chat Completions, there is no nested `function` key.",
        "required": [
          "type",
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ]
          },
          "name": {
            "type": "string",
            "description": "The name of the function."
          },
          "description": {
            "type": "string",
            "description": "Description of what the function does, used by the model to choose when to call it."
          },
          "parameters": {
            "type": "object",
            "description": "JSON Schema object describing the function's parameters.",
            "additionalProperties": true
          }
        }
      },
      "ResponsesToolChoiceFunction": {
        "type": "object",
        "description": "Forces the model to call the specified function.",
        "required": [
          "type",
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ]
          },
          "name": {
            "type": "string",
            "description": "Name of the function to call."
          }
        }
      },
      "ResponsesResponse": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "created_at",
          "model",
          "output",
          "usage"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response, prefixed with `resp_`.",
            "example": "resp_abc123"
          },
          "object": {
            "type": "string",
            "enum": [
              "response"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "in_progress"
            ],
            "description": "`completed` for non-streaming responses; `in_progress` is emitted on the initial `response.created` SSE event."
          },
          "created_at": {
            "type": "number",
            "description": "Unix timestamp (as a float) of when the response was created.",
            "example": 1677652288.0
          },
          "model": {
            "type": "string",
            "description": "The model used to generate the response.",
            "example": "openai/gpt-4o"
          },
          "output": {
            "type": "array",
            "description": "Array of output items produced by the model.",
            "items": {
              "$ref": "#/components/schemas/ResponsesOutputItem"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/ResponsesUsage"
          }
        }
      },
      "ResponsesOutputItem": {
        "type": "object",
        "required": [
          "id",
          "type",
          "status",
          "role",
          "content"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Item identifier, prefixed with `msg_`.",
            "example": "msg_1"
          },
          "type": {
            "type": "string",
            "enum": [
              "message",
              "function_call"
            ],
            "description": "`message` for text responses, `function_call` for tool calls."
          },
          "status": {
            "type": "string",
            "enum": [
              "completed"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ]
          },
          "content": {
            "type": "array",
            "description": "Array of content parts within this output item.",
            "items": {
              "$ref": "#/components/schemas/ResponsesOutputContent"
            }
          }
        }
      },
      "ResponsesOutputContent": {
        "description": "A content part within an output item.",
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type",
              "text"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "output_text"
                ]
              },
              "text": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "id",
              "name",
              "arguments"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "function_call"
                ]
              },
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "arguments": {
                "type": "string",
                "description": "Tool call arguments as a JSON string."
              }
            }
          }
        ]
      },
      "ResponsesUsage": {
        "type": "object",
        "description": "Token usage statistics for the response.",
        "required": [
          "input_tokens",
          "output_tokens",
          "total_tokens"
        ],
        "properties": {
          "input_tokens": {
            "type": "integer",
            "description": "Tokens in the input.",
            "minimum": 0
          },
          "output_tokens": {
            "type": "integer",
            "description": "Tokens in the output.",
            "minimum": 0
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total tokens used.",
            "minimum": 0
          }
        }
      },
      "CompressRequest": {
        "description": "An LLM request payload to compress. Accepts any of three wire formats — the format is auto-detected from the request body: a top-level `\"system\"` key indicates Anthropic Messages format; a top-level `\"input\"` key indicates OpenAI Responses API format; otherwise, OpenAI Chat Completions format is assumed.",
        "anyOf": [
          {
            "$ref": "#/components/schemas/ChatCompletionRequest"
          },
          {
            "$ref": "#/components/schemas/CreateMessageRequest"
          },
          {
            "$ref": "#/components/schemas/ResponsesRequest"
          }
        ]
      },
      "CompressMetadata": {
        "type": "object",
        "description": "Token compression metrics appended to every `/v1/compress` response.",
        "required": [
          "technique",
          "applied_strategies",
          "compression_rate",
          "uncompressed_input_tokens",
          "compressed_input_tokens",
          "compression_time_ms"
        ],
        "properties": {
          "technique": {
            "type": "string",
            "enum": [
              "auto",
              "tool"
            ],
            "description": "`auto` when all applicable strategies are tried; `tool` when a specific compression model was requested via the `X-Edgee-Compression-Model` header or `compression_model` body field.",
            "example": "auto"
          },
          "applied_strategies": {
            "type": "array",
            "description": "Names of the compression strategies that were applied to the request.",
            "items": {
              "type": "string"
            },
            "example": [
              "tool_result_trimming"
            ]
          },
          "compression_rate": {
            "type": "number",
            "description": "Fraction of input tokens removed (0.0–1.0). For example, `0.19` means 19% of input tokens were removed.",
            "minimum": 0,
            "maximum": 1,
            "example": 0.19
          },
          "uncompressed_input_tokens": {
            "type": "integer",
            "description": "Token count of the original, uncompressed input.",
            "minimum": 0,
            "example": 1000
          },
          "compressed_input_tokens": {
            "type": "integer",
            "description": "Token count after compression. This is what the downstream LLM provider will be billed for.",
            "minimum": 0,
            "example": 810
          },
          "compression_time_ms": {
            "type": "integer",
            "description": "Wall-clock time taken to perform compression, in milliseconds.",
            "minimum": 0,
            "example": 12
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message if compression partially failed. Present only when an error occurred during compression."
          },
          "tool_stats": {
            "type": "object",
            "description": "Per-tool compression statistics. Present only when `tool_result_trimming` was applied.",
            "additionalProperties": true
          }
        }
      },
      "CompressResponse": {
        "type": "object",
        "description": "The original request payload with compressed content fields replaced. All fields not touched by compression (`model`, `temperature`, `top_p`, `stop_sequences`, etc.) pass through unchanged. A `compression` object is always appended.",
        "required": [
          "compression"
        ],
        "properties": {
          "compression": {
            "$ref": "#/components/schemas/CompressMetadata"
          }
        },
        "additionalProperties": true
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer authentication header of the form `Bearer <token>`, where `<token>` is your API key. More info [here](/docs/api-reference/authentication)"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Anthropic-style API key authentication using the x-api-key header"
      }
    }
  },
  "tags": [
    {
      "name": "Chat",
      "description": "Chat completion endpoints (OpenAI format)"
    },
    {
      "name": "Messages",
      "description": "Messages endpoints (Anthropic format)"
    },
    {
      "name": "Responses",
      "description": "Responses endpoints (OpenAI Responses API format)"
    },
    {
      "name": "Models",
      "description": "Model management endpoints"
    },
    {
      "name": "Tokens",
      "description": "Token estimation endpoints"
    },
    {
      "name": "Compress",
      "description": "Standalone token compression endpoint"
    }
  ]
}
